body{
font-family:sans-serif;
background:#ffdbe6;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
margin:0;
overflow:hidden;
}

.container{
text-align:center;
}

h1{
color:#d63384;
}

img{
width:200px;
transition:.3s;
}

.buttons{
margin-top:20px;
}

button{
border:none;
padding:15px 30px;
font-size:18px;
border-radius:12px;
cursor:pointer;
margin:10px;
}

#yes-btn{
background:#28a745;
color:white;
}

#no-btn{
background:#dc3545;
color:white;
position:relative;
}

#musicBtn{
position:fixed;
bottom:20px;
right:20px;
font-size:20px;
padding:10px 15px;
}

#tease{
color:#d63384;
font-weight:bold;
height:30px;
}
